<ul class="nav nav-pills">
  <li role="presentation" class="pull-right"><a href="#!/login"> Login</a></li>
  <!-- <li role="presentation" class="pull-right"><a href="#!/help-desk"> Help Desk</a></li> -->
  <li role="presentation" class="pull-right"><a href="#!/policies"> Policies</a></li>
  <li role="presentation" class="pull-right"><a href="#!/forms"> Forms</a></li>
  <li role="presentation" class="pull-right"><a href="#!/vacancies"> Vacancies</a></li>
  <li role="presentation" class="pull-right"><a href="#!/"> Home</a></li>
</ul>
