<div ng-include="'public/app/partials/main_menu.tpl.html'"></div>
<div class="news-feed">
  <h2>Notice Board</h2>
  <hr />
  <div class="feed-list">
    <div class="feed-list-item">
      <a href="#!/news/tremaine">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </a>
      <span>4 hours ago</span>
    </div>
  </div>
</div>

<div class="quick-links text-center" >
  <div class="row">
    <div class="col-md-3">
      <a href>
        <div class="quick-link-item blue-item">
          <i class="fa fa-user-circle-o fa-4x" aria-hidden="true"></i>
          <h1>Job Vacancies</h1>
          <p>
            view all available jobs
          </p>
        </div>
      </a>
    </div>
    <div class="col-md-3">
      <a href>
      <div class="quick-link-item mustard-item">
        <i class="fa fa-file-pdf-o fa-4x" aria-hidden="true"></i>
          <h1>H.R. Forms</h1>
          <p>
            view all available forms
          </p>
      </div>
    </a>
    </div>
    <div class="col-md-3">
      <a href>
        <div class="quick-link-item purple-item">
          <i class="fa fa-book fa-4x" aria-hidden="true"></i>
          <h1>Policies</h1>
          <p>
            view all available policies
          </p>
        </div>
      </a>
    </div>

    <div class="col-md-3">
      <a href="#!/login">
        <div class="quick-link-item grey-item">
          <i class="fa fa-rocket fa-4x" aria-hidden="true"></i>
          <h1>Apps</h1>
          <p>
            login to your apps
          </p>
        </div>
      </a>
    </div>
  </div>
</div>
