<div ng-include="'public/app/partials/main_menu.tpl.html'"></div>

<div class="vacancy-feed">
  <h2>Policies</h2>
  <hr />
  <div class="feed-list">
    <div class="feed-list-item">
      <a href="#!/vacancies/slug">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </a>
      <span>Posted on April 14</span>
    </div>
  </div>
</div>
