body{
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 15px;
	/*margin-bottom: 400px;*/
}

h1,
h2,
h3,
h4,
h5,
h6{
	font-weight: bold;
}

.capitalize{
	text-transform: capitalize;
}
.main-area{
		height: auto;
		min-height: 100vh;
}

hr.section-divider{
	border-top: 2px solid #2780E3;
	margin: 0;
}

hr.item-divider{
	border-top: 1px solid #F2F2F2;
}

.section-title{
	color: #2780E3;
	font-weight: bold;
	font-size: 18px;
}

.logo{
	margin-top: -25px;
	width: 48px;
	height: 48px;
}

.apps-link{
	font-size:18px;
	color:#333333;
	margin-bottom: 40px;
}

.nav-pills>li>a:hover{
	background-color: #2780E3;
	color: #FFFFFF;
}

.custom-hr{
	border-top: 2px solid #2780E3;
}

.apps-link:hover{
	background-color: #2780E3;
	text-decoration: none;
	color: #FFFFFF;
	padding: 10px;
}


.table>tbody>tr:hover{
	background-color: #2780E3;
	color: #FFFFFF;
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 400px;
  color: #ffffff;
  background-color: #2780E3;
  font-size: 16px;
  padding: 15px 0 15px 0;
}*/

/**
 * Search
 */

.search-result-card{
	color: #545454;
}
.search-result-card a{
	font-size: 18px;
	font-weight: bold;
	text-decoration: none;
}

.search-result-card a:hover{
	background-color: #2780E3;
	color: #ffffff;
	text-decoration: none;
	padding: 5px;
}

.search-result-card p{
	margin-top: 0px;
	margin-bottom: 0px;
}

.search-result-card p:last-child{
	margin-bottom: 20px;
}

.footer {
  bottom: 0;
  width: 100%;
  height: 300px;
  color: #ffffff;
  background-color: #7f8c8d;
  font-size: 16px;
  padding: 40px 0 40px 0;
	margin-top: 20px;
}

.footer h3{
	font-weight: 700;
}

.footer ul li{
		color: #ffffff;
}

div.footer a{
	color: #ffffff;
}

.fa.fa-heart{
	color: red;
}

a, a:visited{
	color: #2C3E50;
	text-decoration: none;
}

a:hover{
	color: #2C3E50;
	text-decoration: underline;
}

.panel-title{
	/*font-family: 'Roboto Slab', serif;*/
	font-weight: 700;
	font-size: 18px;
}

.navbar >.container .navbar-brand{
	/*font-family: 'Roboto Slab', serif;*/
	font-weight: 700;
}

.navbar >.container .navbar-brand:hover{
	color: #ffffff;
}

.navbar-default .navbar-nav>li>a{
	/*font-family: 'Roboto Slab', serif;*/
	font-weight: 700;
}

.navbar-default .navbar-nav>li>a:hover{
	text-decoration: underline;
	color: #ffffff;
}
.department-title{
	/*font-family: 'Roboto Slab', serif;*/
	font-weight: 700;
}

.caption{
	padding-left: 10px;
}

.photo-caption{
	font-size: 13px;
	font-weight: bold;
}

.lead-image{
	margin-bottom: 10px;
}

.thumbnail{
	margin-bottom: 10px;
}

.name{
	font-weight: 700;
	/*font-family: 'Roboto Slab', serif;*/
	font-size: 16px;
}

.help-wrapper{
	margin-left: 15px;
}

.envelope-red{
	color: red;
}

.envelope-black{
	color: #333333;
}

/**
 * Components
 */

/*********************
 * Notices
 *********************/

.notice h4{
	font-size: 15px;
	font-weight: bold;
}

.notice span{
	color: #999999;
	font-size: 11px;
}

.quick-links{
	margin-top: 20px;
}

.quick-link-item{
	height: 250px;
	width: auto;
	color:#FFFFFF;
	padding: 30px 20px 20px 20px;
}

.quick-links a{
	text-decoration: none;
}

.quick-links p{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}

.quick-links h1{
	margin-top: 20px;
}

.blue-item{
	background-color: #22B7EB;
}

.mustard-item{
	background-color: #DABC25;
}

.purple-item{
	background-color: #3B1859;
}

.grey-item{
	background-color: #3B3B3C;
}
/***************
 * Main Content
 ***************/
.main-content img{
	max-width: 100%;
	max-height: 350px;
}

.main-section-title{
	font-weight: bold;
}

.main-content span{
	font-size: 15px;
	font-weight: normal;
	color: #999999;
}

.main-content p{
	font-size: 15px;
}

.main-content hr{
	margin: 0;
}
/**
 * Secondary Content
 */

.secondary-content img{
	max-width: 320px;
}

.thumbnail-sm{
	max-width: 50px;
	max-height: 50px;
	width: 50px;
	height: 50px;
}

.thumbnail-md{
	max-width: 80px;
	max-height: 80px;
	width: 80px;
	height: 80px;
}

.author{
	text-transform: uppercase;
	color: #2780E3;
}

ol.numbered-list{
	list-style-type: decimal;
	padding-left: 10px;
}

ol.numbered-list li{
	margin: 0 0 10px 0;
}

.staff-pics {
	max-width: 300px;
	max-height:200px;
}

.list-divider{
	margin: 0;
}

.employee-info{
	width: 100%;
	height: 350px;
}

.employee-info p{
	margin: 0;
}

.employee-info p > i{
	color: #2780E3;
}

.employee-position{
	text-transform: uppercase;
	color: #2780E3;
}
.employee-name{
	font-size: 19px;
	text-transform: capitalize;
}

.poll-question{
	font-weight: bold;
}

.more{
	margin: 15px 0 0 0;
}

/**
 * Directory Page
 */

.search-box{
	margin-bottom: 10px;
}

li.list-group-item a:visited{
	color: #2780E3;
}

/**
 * Content Page
 */
.time{
	color:#999999;
}

.content{
	margin-top: 10px;
	font-size: 19px;
	margin-bottom: 20px;
}
.content-author{
	margin-top: 10px;
	margin-bottom: 10px;
}

.blog-list a{
	color: #000000;
}

.blog-list a:hover{
	color: #000000;
}

.help-desk{
	max-height: auto;
	height: 100vh;
}

.login{
	max-width: 330px;
	padding: 15px;
	margin: 100px auto;
}

.table>tbody>tr>td{
	cursor: pointer;
}

.space{
	margin-bottom: 15px;
}

.mail > textarea{
	background-color: #FAFAFA;
	color: #333333;
	margin-bottom: 15px;
}
.mail > textarea:focus{
		background-color: #FFFFFF;
}

.mail > input{
	background-color: #FAFAFA;
	color: #333333;
	margin-bottom: 15px;
}

.mail > input:focus{
	background-color: #FFFFFF;
}

.mail-follow-up{
	list-style-type: none;
}

.mail-follow-up li{
	display: inline;
	padding-left: 10px;
}

.mail-follow-up a{

}
.mail-follow-up a:hover
.mail-follow-up a:active,
.mail-follow-up a:visited,
.mail-follow-up a:focus{
	text-decoration: none;
	color: #FFFFFF;
}

/**
 * Home Page
 */

.feed-list a:hover{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #2780E3;
	padding-top: 5px;
	padding-bottom: 5px;
}

.feed-list span{
	display: block;
	font-size: 14px;
	margin-top: 5px;
	color:#999999;
}

.feed-list-item{
	margin-top: 10px;
}

.news{
	font-size: 16px;
}

/**
 * Login Page
 */

.login a:hover{
	text-decoration: none;
	color: #FFFFFF;
	background-color: #2780E3;
}
