<div class="alert alert-danger" role="alert" ng-show="vm.message">
	<strong>Your username/password is invalid. </strong>
</div>
<div class="login">
<h1 class="main-section-title">Sign in</h1>
<form novalidate data-ng-submit="vm.handleForm(vm.user)">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text"
					 name="username"
					 class="form-control"
					 placeholder="mary jane"
					 data-ng-model="vm.user.name">
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password"
					 name="password"
					 class="form-control"
					 placeholder="your windows password"
					 data-ng-model="vm.user.password">
	</div>
	<button class="btn btn-success btn-block" type="submit">Sign in</button>
</form>

<a href="#!/">Back to Home</a>
</div>
