<div ng-include="'public/app/modules/truck-allo/tpl/sub-menu.html'">
</div>
<hr class="custom-hr"/>

<div class="row help-desk">

  <div class="col-md-9 mail ">
    <label>Transaction Date</label>
    <div class="well well-sm ">
      {{vm.transaction.created | timestamp | date:'fullDate'}}
    </div>

    <label>Particular</label>
    <textarea class="form-control" ng-model="vm.transaction.particular"></textarea>

    <label>Parish Council</label>
    <div class="well well-sm">
      {{vm.transaction.council}}
    </div>

    <label>Transaction Type</label>
    <div class="well well-sm">
      {{vm.transaction.trans_type}}
    </div>

    <label>Amount</label>
    <div class="well well-sm">
      {{vm.transaction.amount | currency}}
    </div>

    <button class="btn btn-primary" ng-click="vm.update()">
      <strong>Update Transaction</strong>
    </button>

    <div class="space"></div>

    <hr >

  </div>
</div>
