<div ng-include="'public/app/partials/sub-menu.html'"></div>
<hr class="custom-hr"/>
<div class="row help-desk">

	<div class="col-md-12">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <input type="text"
                class="form-control"
                placeholder="Type here to filter mail by sender or subject"
                ng-model="search">
        </div>
      </div>
    </div>
			<div class="open-ticket-wrapper">
        <div ng-show="mails.length < 1">
          <p ><strong>There are no mails.</strong></p>
          <button class="btn btn-success" ng-click="goTo('dashboard/apps/mails/create')">
            Create Mail</button>
        </div>

				<a href="" ng-repeat="mail in mails | filter:search">
					{{mail.sender}}
				</a>
				<!-- <table class="table table-hover" ng-show="mails.length > 0">
					<thead>
						<tr>
              <th></th>
							<th>Sender</th>
							<th>Subject</th>
							<th style="text-align:right;">Received</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="mail in mails | filter:search" ng-click="showMail(mail.id)">
              <td style="width:60px" ng-click="$event.stopPropagation()">
								<i class="fa fa-exclamation" aria-hidden="true" style="color:red"
									ng-show="mail.follow_up == 2"></i>
								<i class="fa fa-envelope-o" aria-hidden="true"></i>
							</td>
							<td style="width:184px" class="capitalize">{{mail.sender}}</td>
							<td class="capitalize">{{mail.subject}}</td>
							<td style="text-align:right;width:150px;font-weight:600" >{{mail.receipt_date | timestamp | date:'MMM d'}}</td>
						</tr>
					</tbody>
				</table> -->
			</div>
	</div>
</div>
